.bodyContent-inactive {
  display: grid;
  gap:1%;
  margin-left: 1vw;
  transition: 200ms;
  grid-template-columns: 0px 3fr;
}

.bodyContent {
  display: grid;
  grid-template-columns: auto 3fr auto;
  gap:1%;
  margin-left: 1vw;
  transition: 200ms;
}
.routes{
  height: calc(100vh - var(--music-card-top));
  overflow-y: auto;
  padding-left: 3%;
}

.navigation{
  display: flex;
  justify-content: flex-end;
  gap:10px;
  position: sticky;
  z-index: 1;
  top:5vh;
  margin-right: 4%;
}

.button:hover{
  cursor: pointer;
}

@media (max-width: 500px){
  .bodyContent{
    grid-template-columns: 100vw;
  }
}