.bodyContent {
  display: grid;
  grid-template-columns: auto 3fr auto;
  gap:1%;
  margin-left: 1vw;
  transition: 200ms;
}

@media (max-width: 500px){
  .bodyContent{
    grid-template-columns: 100vw;
  }
}