.bodyContent {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap:1%;
  margin-left: 1vw;
  transition: 200ms;
}
.fullBody{
  grid-template-columns: 0fr 1fr;
}

@media (max-width: 500px){
  .bodyContent{
    grid-template-columns: 100vw;
  }
}