.up-next-container {
    align-self: flex-start;
    padding: 20px;
    width: 400px;
    top:var(--music-card-top);
    height: calc(100vh - var(--music-card-top) - 7vh);
    overflow: auto;
    position: sticky;
  }
  
  .up-next-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .up-next-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .up-next-list li.active {
    background-color: #f0f0f0;
  }
  
  .song-info {
    flex: 1;
  }
  
  .song-title {
    font-weight: bold;
  }
  
  .song-artist {
    font-size: 14px;
    color: #888;
  }
  