.video {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    top: 0;
    padding:5% 0;
    height: 100%;
    /* transform: translate(5%,25%); */
    /* background:rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(20px);
    z-index: 2;
}

.video video {
    align-self: center;
    justify-self: center;
    width: 100%;
}
.video.hide{
    display: none;
}

.video__controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.video__controls svg {
    cursor: pointer;
}

.video:hover .video__controls{
    opacity: 1;
}