[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.100.0"
pytube = "==15.0.0"
python-dotenv = "==1.0.0"
yt-dlp = "*"
ytmusicapi = "==1.11.1"

[dev-packages]
uvicorn = {version = "*", extras = ["standard"]}

[requires]
python_version = "3.13.1"
